<link href="/user/css,js/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<link href="/user/css,js/css/tiny-slider.css" rel="stylesheet">
<link href="/user/css,js/css/style.css" rel="stylesheet">


<!-- Start Header/Navigation -->
<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

    <div class="container">
        <a class="navbar-brand" href="index.html">CRAV<span style="font-weight:lighter;">E</span></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni"
            aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsFurni">
            <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                <li class="nav-item ">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="active"><a class="nav-link" href="/products">Shop</a></li>
                <li><a class="nav-link" href="/aboutus">About us</a></li>
                <li><a class="nav-link" href="/services">Services</a></li>
                <li><a class="nav-link" href="/blog">Blog</a></li>
                <li><a class="nav-link" href="/contact">Contact us</a></li>
            </ul>

            <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
                <li><a class="nav-link" href="/profile"><img src="/user/css,js/images/user.svg"></a></li>
                <li>
                    <div class="image-container">
                        <a class="nav-link product-image" href="/cart"><img src="/user/css,js/images/cart.svg"></a>
                        {{#if cartCount}}
                        <span class="badge">{{cartCount}}</span> <!-- Display the cart count dynamically -->
                        {{else}}

                        {{/if}}
                    </div>

                </li>
            </ul>
        </div>
    </div>

</nav>
<!-- End Header/Navigation -->
<div class="toast align-items-center text-bg-danger border-0 position-fixed top-0 end-0 m-3" role="alert"
    aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
        <div class="toast-body">
            {{message}}
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
            aria-label="Close"></button>
    </div>
</div>





<!-- Start Hero Section -->
<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>Order History</h1>
                </div>
            </div>
            <div class="col-lg-7">

            </div>
        </div>
    </div>
</div>
<!-- End Hero Section -->
<div class="untree_co-section before-footer-section">
    <div class="container">
        {{#if orders.length}}
        <div class="row mb-5">
            <form class="col-md-12" method="post">
                <div class="site-blocks-table">
                    <table class="table">
                        <thead>
                            <tr>


                                <th scope="col" class="product-thumbnail">Image</th>
                                <th scope="col" class="product-name">Date</th>
                                <th scope="col" class="product-price">Price</th>

                                <th scope="col" class="order-status">Status</th> <!-- Added Order Status -->
                                <th scope="col" class="order-status">Payment Status</th> <!-- Added Order Status -->
                                <th scope="col" class="order-action">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                {{#each orders}}
                            <tr>
                                <td class="product-thumbnail">
                               <img src="{{this.products.[0].productId.images.[0]}}" alt="Image" class="img-fluid">

                                </td>
                                {{!-- <td>#{{shortId this._id}}</td> --}}
                                <td>{{formatDate this.createdAt}}</td>
                                <td>₹{{this.total}}</td>
                                <td><strong>{{this.status}}</strong></td>
                                <td><strong>{{this.paymentStatus}}</strong></td>
                                <td>
                                    <a href="/profile/orders/orderdetails/{{this._id}}"
                                        class="btn btn-black btn-sm">View</a>

                                    {{#if (or (eq this.paymentStatus "Failed") (eq this.paymentStatus "Pending"))}}
                                 
                <button id="retryPaymentBtn" type="button" class=" retryPaymentBtn btn btn-black btn-sm"
                    data-order-id="{{this._id}}">Retry
                    Payment</button>
                                    {{/if}}
                                </td>
                            </tr>
                            {{/each}}

                        </tbody>
                    </table>
                    <div class="pagination-container">
                        <ul class="pagination justify-content-center mt-4">
                            {{#if (gt currentPage 1)}}
                            <li class="page-item ">
                                <a class="page-link" href="?page={{subtract currentPage 1}}">Previous</a>
                            </li>
                            {{/if}}

                            {{#each (range 1 totalPages)}}
                            <li class="page-item {{#if (eq this ../currentPage)}}active{{/if}}">
                                <a class="page-link" href="?page={{this}}">{{this}}</a>
                            </li>
                            {{/each}}

                            {{#if (lt currentPage totalPages)}}
                            <li class="page-item">
                                <a class="page-link" href="?page={{add currentPage 1}}">Next</a>
                            </li>
                            {{/if}}
                        </ul>
                    </div>
                </div>
                {{else}}

                <div class="row">
                    <div class="col-md-12 text-center">
                        <h3 class="text-black">Your Dont have orders !</h3>
                        <p>Start shopping now and Make orders!</p>
                        <a href="/products" class="btn btn-black btn-lg">Go to Shop</a>
                    </div>
                </div>
                {{/if}}

        </div>
    </div>
</div>









<!-- Start Footer Section -->
<footer class="footer-section">
    <div class="container relative">

        <div class="sofa-img">
            <img src="/user/css,js/images/sofa.png" alt="Image" class="img-fluid">
        </div>

        <div class="row">
            <div class="col-lg-8">
                <div class="subscription-form">
                    <h3 class="d-flex align-items-center"><span class="me-1"><img
                                src="/user/css,js/images/envelope-outline.svg" alt="Image"
                                class="img-fluid"></span><span>Subscribe to Newsletter</span></h3>

                    <form action="#" class="row g-3">
                        <div class="col-5">
                            <input type="text" class="form-control" placeholder="Enter your name">
                        </div>
                        <div class="col-5 mt-2">
                            <input type="email" class="form-control" placeholder="Enter your email">
                        </div>
                        <div class="col-2 mt-2">
                            <button class="btn btn-primary">
                                <span class="fa fa-paper-plane"></span>
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <div class="row g-5 mb-5">
            <div class="col-lg-4">
                <div class="mb-4 footer-logo-wrap"><a class="footer-logo" href="index.html">CRAV<span
                            style="font-weight:lighter;">E</span></a></div>
                <p class="mb-4">Crave offers stylish and comfortable sofas and chairs for your home. Our furniture is
                    designed to fit any space, combining quality, durability, and a modern touch. Whether you're looking
                    for something classic or contemporary, Crave has the perfect piece to make your home cozy and
                    inviting.</p>

                <ul class="list-unstyled custom-social">
                    <li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
                    <li><a href="#"><span class="fa fa-brands fa-twitter"></span></a></li>
                    <li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
                    <li><a href="#"><span class="fa fa-brands fa-linkedin"></span></a></li>
                </ul>
            </div>

            <div class="col-lg-8">
                <div class="row links-wrap">
                    <div class="col-6 col-sm-6 col-md-3">
                        <ul class="list-unstyled">
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Contact us</a></li>
                        </ul>
                    </div>

                    <div class="col-6 col-sm-6 col-md-3">
                        <ul class="list-unstyled">
                            <li><a href="#">Support</a></li>
                            <li><a href="#">Knowledge base</a></li>
                            <li><a href="#">Live chat</a></li>
                        </ul>
                    </div>

                    <div class="col-6 col-sm-6 col-md-3">
                        <ul class="list-unstyled">
                            <li><a href="#">Jobs</a></li>
                            <li><a href="#">Our team</a></li>
                            <li><a href="#">Leadership</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>

                    <div class="col-6 col-sm-6 col-md-3">
                        <ul class="list-unstyled">
                            <li><a href="#">Nordic Chair</a></li>
                            <li><a href="#">Kruzo Aero</a></li>
                            <li><a href="#">Ergonomic Chair</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

        <div class="border-top copyright">
            <div class="row pt-4">


            </div>
        </div>

    </div>
</footer>
<!-- End Footer Section -->


<script src="/user/css,js/js/bootstrap.bundle.min.js"></script>
<script src="/user/css,js/js/tiny-slider.js"></script>
<script src="/user/css,js/js/custom.js"></script>

<script src="/user/css,js/js/orderHistory.js">


</script>