<link rel="stylesheet" href="/user/css,js/css/orderDetails.css">
<link href="/user/css,js/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<link href="/user/css,js/css/tiny-slider.css" rel="stylesheet">
<link href="/user/css,js/css/style.css" rel="stylesheet">


<!-- Start Header/Navigation -->
<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

	<div class="container">
		<a class="navbar-brand" href="index.html">CRAV<span style="font-weight:lighter;">E</span></a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni"
			aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsFurni">
			<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
				<li class="nav-item ">
					<a class="nav-link" href="/">Home</a>
				</li>
				<li class="active"><a class="nav-link" href="/products">Shop</a></li>
				<li><a class="nav-link" href="/aboutus">About us</a></li>
				<li><a class="nav-link" href="/services">Services</a></li>
				<li><a class="nav-link" href="/blog">Blog</a></li>
				<li><a class="nav-link" href="/contact">Contact us</a></li>
			</ul>

			<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
				<li><a class="nav-link" href="/profile"><img src="/user/css,js/images/user.svg"></a></li>
				<li>
					<div class="image-container">
						<a class="nav-link product-image" href="/cart"><img src="/user/css,js/images/cart.svg"></a>
						{{#if cartCount}}
						<span class="badge">{{cartCount}}</span> <!-- Display the cart count dynamically -->
						{{else}}

						{{/if}}
					</div>

				</li>
			</ul>
		</div>
	</div>

</nav>
<!-- End Header/Navigation -->

<!-- Start Hero Section -->
<div class="hero">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-5">
				<div class="intro-excerpt">
					<h1>Order details</h1>
				</div>
			</div>
			<div class="col-lg-7">

			</div>
		</div>
	</div>
</div>
<!-- End Hero Section -->



<!--  cancel order  Modal -->
<div class="modal fade" id="cancelModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure you want to cancel order...?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <p id="cancel-error-tag" style="padding-left: 30px; padding-top: 20px; display: none; color: red;"></p>
            <div class="modal-body">
                <textarea id="cancelReasonText" class="form-control" placeholder="Enter the reason for cancellation"
                    rows="4"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" onclick="submitCancelReason()">Submit</button>
            </div>
        </div>
    </div>
</div>

{{!-- cancel order modal ends --}}



{{!-- return order modal starts --}}

<div class="modal fade" id="returnModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure you want to return order...?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <p id="return-error-tag" style="padding-left: 30px; padding-top: 20px; display: none; color: red;"></p>
            <div class="modal-body">
                <textarea id="returnReasonText" class="form-control" placeholder="Enter the reason for cancellation"
                    rows="4"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" onclick="submitReturnReason()">Submit</button>
            </div>
        </div>
    </div>
</div>


{{!-- return order modal ends --}}




<div class="order-container ms-auto me-auto mt-5 mb-5">
	<h1>Order Details</h1>
	<div class="order-summary">
		<div>
			<h2>Order #{{shortId order._id}}</h2>

			<p>Placed on: {{formatDate order.createdAt}}</p>
		</div>
		<div>
			<h3>Total: ₹{{order.total}}</h3>
			<p>{{order.products.length}} items</p>
		</div>
	</div>
	<div class="order-items">
		<h2 class="product-thumbnail">Items in Your Order</h2>
		{{#each order.products}}
<div class="item">
	<img src="{{this.productId.images.[0]}}" alt="Product Image" class="img-fluid">
	<div class="item-details">
		<h3>{{this.name}}</h3>
		<p>Product Status: {{this.singleStatus}}</p>
		<p>Quantity: {{this.quantity}}</p>
	</div>

	<div style="display: flex; gap: 10px; align-items: center;">
	<div class="item-price">₹{{this.price}}</div>

	{{!-- Show Return button only if delivered --}}
	{{#if (eq this.singleStatus "Delivered")}}
		<button class="btn"
			style="background-color: #000000; color: white; padding: 6px 14px; border: none; border-radius: 4px; cursor: pointer;"
			data-bs-toggle="modal" data-bs-target="#returnModal"
			onclick="Reason('{{../order._id}}','{{_id}}')">
			Return Product
		</button>
	{{else}}
		{{!-- Show Cancel button only if not Cancelled or Returned --}}
		{{#unless (or (eq this.singleStatus "Cancelled") (eq this.singleStatus "Returned"))}}
			<button class="btn"
				style="background-color: #000000; color: white; padding: 6px 14px; border: none; border-radius: 4px; cursor: pointer;"
				data-bs-toggle="modal" data-bs-target="#cancelModal"
				onclick="Reason('{{../order._id}}','{{_id}}')">
				Cancel Product
			</button>
		{{/unless}}
	{{/if}}
</div>

</div>
{{/each}}

	</div>


	<div class="">
		{{#if couponDetails.code}}
		<div class="">
			<h4 class="text-black">Coupon Applied</h4>
			<p class="text-black"><strong class="text-black">Coupon Code:</strong>
				{{couponDetails.code}}
			</p>
			<p class="text-black"><strong class="text-black">Discount Type:</strong>
				{{couponDetails.discountType}}
			</p>
			<p class="text-black">
				<strong class="text-black">Discount Value:</strong>
				{{#if (eq couponDetails.discountType "percentage")}}
				{{couponDetails.discountValue}}% Off
				{{else}}
				₹{{couponDetails.discountValue}} Off
				{{/if}}
			</p>
		</div>
		{{else}}
		<p> No coupon applied</p>

		{{/if}}
	</div>



	<div class="shipping-info">
		<h2>Shipping Information</h2>
		<p><strong>First Name:</strong> {{order.address.firstName}}</p>
		<p><strong>Last Name:</strong> {{order.address.lastName}}</p>
		<p><strong>Email:</strong> {{order.address.email}}</p>
		<p><strong>Mobile:</strong> {{order.address.mobile}}</p>
		<p><strong>Address:</strong> {{order.address.addressLine}}</p>
		<p><strong>City:</strong> {{order.address.city}}</p>
		<p><strong>State:</strong> {{order.address.state}}</p>
		<p><strong>Pin Code:</strong> {{order.address.pinCode}}</p>
		<p><strong>Country:</strong> {{order.address.country}}</p>
	</div>

	<div class="order-status">
		<h2>Order Status</h2>
		<p> Delivery Status: {{order.status}}</p>
		<p>Payment Status: {{order.paymentStatus}}</p>
		<p>Estimated delivery: {{formatDate deliveryDate}}</p>
	</div>
	{{#if (eq order.status "Cancelled")}}
	<button class="btn" disabled>
		<a style="color: #000000; text-decoration: none;" href="/invoice/download/{{order._id}}">Invoice Dowload</a>

	</button>

	{{else}}
	<button class="btn">
		<a style="color: #fff; text-decoration: none;" href="/invoice/download/{{order._id}}">Invoice Dowload</a>

	</button>


	{{/if}}
</div>



<!-- Start Footer Section -->
<footer class="footer-section">
	<div class="container relative">

		<div class="sofa-img">
			<img src="/user/css,js/images/sofa.png" alt="Image" class="img-fluid">
		</div>

		<div class="row">
			<div class="col-lg-8">
				<div class="subscription-form">
					<h3 class="d-flex align-items-center"><span class="me-1"><img
								src="/user/css,js/images/envelope-outline.svg" alt="Image"
								class="img-fluid"></span><span>Subscribe to Newsletter</span></h3>

					<form action="#" class="row g-3">
						<div class="col-auto">
							<input type="text" class="form-control" placeholder="Enter your name">
						</div>
						<div class="col-auto">
							<input type="email" class="form-control" placeholder="Enter your email">
						</div>
						<div class="col-auto">
							<button class="btn btn-primary">
								<span class="fa fa-paper-plane"></span>
							</button>
						</div>
					</form>

				</div>
			</div>
		</div>

		<div class="row g-5 mb-5">
			<div class="col-lg-4">
				<div class="mb-4 footer-logo-wrap"><a class="footer-logo" href="index.html">CRAV<span
							style="font-weight:lighter;">E</span></a></div>
				<p class="mb-4">Crave offers stylish and comfortable sofas and chairs for your home. Our furniture is
					designed to fit any space, combining quality, durability, and a modern touch. Whether you're looking
					for something classic or contemporary, Crave has the perfect piece to make your home cozy and
					inviting.</p>

				<ul class="list-unstyled custom-social">
					<li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
					<li><a href="#"><span class="fa fa-brands fa-twitter"></span></a></li>
					<li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
					<li><a href="#"><span class="fa fa-brands fa-linkedin"></span></a></li>
				</ul>
			</div>

			<div class="col-lg-8">
				<div class="row links-wrap">
					<div class="col-6 col-sm-6 col-md-3">
						<ul class="list-unstyled">
							<li><a href="#">About us</a></li>
							<li><a href="#">Services</a></li>
							<li><a href="#">Blog</a></li>
							<li><a href="#">Contact us</a></li>
						</ul>
					</div>

					<div class="col-6 col-sm-6 col-md-3">
						<ul class="list-unstyled">
							<li><a href="#">Support</a></li>
							<li><a href="#">Knowledge base</a></li>
							<li><a href="#">Live chat</a></li>
						</ul>
					</div>

					<div class="col-6 col-sm-6 col-md-3">
						<ul class="list-unstyled">
							<li><a href="#">Jobs</a></li>
							<li><a href="#">Our team</a></li>
							<li><a href="#">Leadership</a></li>
							<li><a href="#">Privacy Policy</a></li>
						</ul>
					</div>

					<div class="col-6 col-sm-6 col-md-3">
						<ul class="list-unstyled">
							<li><a href="#">Nordic Chair</a></li>
							<li><a href="#">Kruzo Aero</a></li>
							<li><a href="#">Ergonomic Chair</a></li>
						</ul>
					</div>
				</div>
			</div>

		</div>

		<div class="border-top copyright">
			<div class="row pt-4">


			</div>
		</div>

	</div>
</footer>
<!-- End Footer Section -->


<script src="/user/css,js/js/bootstrap.bundle.min.js"></script>
<script src="/user/css,js/js/tiny-slider.js"></script>
<script src="/user/css,js/js/custom.js"></script>
<script src="/user/css,js/js/orderDetails.js"></script>