<link href="/user/css,js/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<link href="/user/css,js/css/tiny-slider.css" rel="stylesheet">
<link href="/user/css,js/css/style.css" rel="stylesheet">


<!-- Start Header/Navigation -->
<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

    <div class="container">
        <a class="navbar-brand" href="index.html">CRAV<span style="font-weight:lighter;">E</span></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni"
            aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsFurni">
            <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                <li class="nav-item ">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="active"><a class="nav-link" href="/products">Shop</a></li>
                <li><a class="nav-link" href="/aboutus">About us</a></li>
                <li><a class="nav-link" href="/services">Services</a></li>
                <li><a class="nav-link" href="blog.html">Blog</a></li>
                <li><a class="nav-link" href="contact.html">Contact us</a></li>
            </ul>

            <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
                <li><a class="nav-link" href="/profile"><img src="/user/css,js/images/user.svg"></a></li>
                <li>
                    <div class="image-container">
                        <a class="nav-link product-image" href="/cart"><img src="/user/css,js/images/cart.svg"></a>
                        {{#if cartCount}}
                        <span class="badge">{{cartCount}}</span> <!-- Display the cart count dynamically -->
                        {{else}}

                        {{/if}}
                    </div>

                </li>
            </ul>
        </div>
    </div>

</nav>
<!-- End Header/Navigation -->
<div class="toast align-items-center text-bg-danger border-0 position-fixed top-0 end-0 m-3" role="alert"
    aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
        <div class="toast-body">
            {{message}}
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
            aria-label="Close"></button>
    </div>
</div>



<!--  cancel order  Modal -->
<div class="modal fade" id="cancelModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure you want to cancel order...?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <textarea id="cancelReasonText" class="form-control" placeholder="Enter the reason for cancellation"
                    rows="4"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" onclick="submitCancelReason()">Submit</button>
            </div>
        </div>
    </div>
</div>

{{!-- cancel order modal ends --}}



{{!-- return order modal starts --}}

<div class="modal fade" id="returnModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure you want to return order...?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <textarea id="returnReasonText" class="form-control" placeholder="Enter the reason for cancellation"
                    rows="4"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" onclick="submitReturnReason()">Submit</button>
            </div>
        </div>
    </div>
</div>


{{!-- return order modal ends --}}

<!-- Start Hero Section -->
<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>Order History</h1>
                </div>
            </div>
            <div class="col-lg-7">

            </div>
        </div>
    </div>
</div>
<!-- End Hero Section -->
<div class="untree_co-section before-footer-section">
    <div class="container">
        {{#if orders.length}}
        <div class="row mb-5">
            <form class="col-md-12" method="post">
                <div class="site-blocks-table">
                    <table class="table">
                        <thead>
                            <tr>


                                <th scope="col" class="product-thumbnail">Image</th>
                                <th scope="col" class="product-name">Product</th>
                                <th scope="col" class="product-price">Price</th>
                                <th scope="col" class="product-quantity">Quantity</th>

                                <th scope="col" class="order-status">Status</th> <!-- Added Order Status -->
                                <th scope="col" class="order-action">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                {{#each orders}}
                                {{#each this.products}}



                                <td class="product-thumbnail">
                                    <img src="{{this.productId.images.[0]}}" alt="Image" class="img-fluid">
                                </td>
                                <td class="product-name">
                                    <h2 class="h5 text-black">{{this.name}}</h2>
                                </td>
                                <td>₹{{this.price}}</td>

                                <div class="input-group mb-3 d-flex align-items-center quantity-container"
                                    style="max-width: 120px;">

                                    <td>{{this.quantity}}</td>
                                </div>
            </form>
            <td><strong>{{this.singleStatus}}</strong></td>
            <td>
                <button class="btn">
                    <a style="text-decoration: none;" href='/profile/orders/orderdetails/{{../_id}}'>View details</a>
                </button>

                {{#if (eq this.singleStatus "Delivered")}}

                <button data-bs-toggle="modal" data-bs-target="#returnModal"
                    onclick="Reason('{{../_id}}','{{this.id}}')" type="button" class="btn btn-black btn-sm">Return
                    order</button>

                {{else}}
                {{#ifRazorpayFailed ../paymentMethod ../paymentStatus}}

                <button id="retryPaymentBtn" type="button" class="btn btn-black btn-sm" data-order-id="{{../_id}}">Retry
                    Payment</button>

                {{else}}
                {{#if ( or (eq this.singleStatus "Cancelled")(eq this.singleStatus "Returned"))}}

                {{else}}

                <button data-bs-toggle="modal" data-bs-target="#cancelModal"
                    onclick="Reason('{{../_id}}', '{{this.id}}')" type="button" class="btn btn-black btn-sm">Cancel
                    Order</button>

                {{/if}}
                {{/ifRazorpayFailed}}
                {{/if}}
            </td>

            </tr>
            {{/each}}
            {{/each}}
            </tbody>
            </table>
        </div>
        {{else}}

        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class="text-black">Your Dont have orders !</h3>
                <p>Start shopping now and Make orders!</p>
                <a href="/products" class="btn btn-black btn-lg">Go to Shop</a>
            </div>
        </div>





        {{/if}}
    </div>
</div>
</div>









<!-- Start Footer Section -->
<footer class="footer-section">
    <div class="container relative">

        <div class="sofa-img">
            <img src="/user/css,js/images/sofa.png" alt="Image" class="img-fluid">
        </div>

        <div class="row">
            <div class="col-lg-8">
                <div class="subscription-form">
                    <h3 class="d-flex align-items-center"><span class="me-1"><img
                                src="/user/css,js/images/envelope-outline.svg" alt="Image"
                                class="img-fluid"></span><span>Subscribe to Newsletter</span></h3>

                    <form action="#" class="row g-3">
                        <div class="col-5">
                            <input type="text" class="form-control" placeholder="Enter your name">
                        </div>
                        <div class="col-5 mt-2">
                            <input type="email" class="form-control" placeholder="Enter your email">
                        </div>
                        <div class="col-2 mt-2">
                            <button class="btn btn-primary">
                                <span class="fa fa-paper-plane"></span>
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <div class="row g-5 mb-5">
            <div class="col-lg-4">
                <div class="mb-4 footer-logo-wrap"><a class="footer-logo" href="index.html">CRAV<span
                            style="font-weight:lighter;">E</span></a></div>
                <p class="mb-4">Crave offers stylish and comfortable sofas and chairs for your home. Our furniture is
                    designed to fit any space, combining quality, durability, and a modern touch. Whether you're looking
                    for something classic or contemporary, Crave has the perfect piece to make your home cozy and
                    inviting.</p>

                <ul class="list-unstyled custom-social">
                    <li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
                    <li><a href="#"><span class="fa fa-brands fa-twitter"></span></a></li>
                    <li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
                    <li><a href="#"><span class="fa fa-brands fa-linkedin"></span></a></li>
                </ul>
            </div>

            <div class="col-lg-8">
                <div class="row links-wrap">
                    <div class="col-6 col-sm-6 col-md-3">
                        <ul class="list-unstyled">
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Contact us</a></li>
                        </ul>
                    </div>

                    <div class="col-6 col-sm-6 col-md-3">
                        <ul class="list-unstyled">
                            <li><a href="#">Support</a></li>
                            <li><a href="#">Knowledge base</a></li>
                            <li><a href="#">Live chat</a></li>
                        </ul>
                    </div>

                    <div class="col-6 col-sm-6 col-md-3">
                        <ul class="list-unstyled">
                            <li><a href="#">Jobs</a></li>
                            <li><a href="#">Our team</a></li>
                            <li><a href="#">Leadership</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>

                    <div class="col-6 col-sm-6 col-md-3">
                        <ul class="list-unstyled">
                            <li><a href="#">Nordic Chair</a></li>
                            <li><a href="#">Kruzo Aero</a></li>
                            <li><a href="#">Ergonomic Chair</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

        <div class="border-top copyright">
            <div class="row pt-4">


            </div>
        </div>

    </div>
</footer>
<!-- End Footer Section -->


<script src="/user/css,js/js/bootstrap.bundle.min.js"></script>
<script src="/user/css,js/js/tiny-slider.js"></script>
<script src="/user/css,js/js/custom.js"></script>

<script>
    document.getElementById("retryPaymentBtn").addEventListener("click", function (e) {
        e.preventDefault();

        const orderId = e.target.getAttribute('data-order-id');

        fetch(`/razorpay/retry/${orderId}`, {
            method: "POST",
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ orderId: orderId })
        })
            .then(response => response.json())
            .then(data => {
                const orderId = data.orderId
                console.log("the order id is :", orderId)
                if (data.success) {
                    var options = {
                        key: 'rzp_test_lHnkQ9Xt6QGUnv',
                        amount: data.amount,
                        currency: 'INR',
                        order_id: data.order_id,
                        name: "CRAVE",
                        description: 'Retrying payment for order',
                        handler: function (response) {
                            if (orderId) {
                                console.log("hello nana  ivande indn")
                                fetch("/payment-sucsess", {
                                    method: "POST",
                                    headers: { 'Content-Type': 'application/json' },
                                    body: JSON.stringify({
                                        razorpay_payment_id: response.razorpay_payment_id,
                                        razorpay_order_id: response.razorpay_order_id,
                                        razorpay_signature: response.razorpay_signature,
                                        orderId: orderId
                                    })
                                })
                                    .then(res => res.json())
                                    .then(data => {
                                        if (data.success) {
                                            window.location.href = '/thankyou';
                                        } else {
                                            alert('Payment verification failed');
                                            window.location.href = '/profile/orders';
                                        }
                                    })
                                    .catch(error => console.error('Error verifying payment:', error));
                            }
                        },
                        prefill: {
                            name: data.customerName,
                            email: data.customerEmail,
                            contact: data.customerContact
                        },
                        theme: { color: '#F37254' },
                        ondismiss: function () {
                            window.location.href = '/profile/orders';
                        }
                    };

                    var rzp = new Razorpay(options);
                    rzp.open();
                } else {
                    alert('Failed to create a new Razorpay order for retry.');
                }
            })
            .catch(error => {
                console.error('Error creating Razorpay order:', error);
                alert('There was an error retrying the payment.');
            });
    });

    let orderId = null;
    let productId = null;

    function Reason(order_id, product_Id) {

        orderId = order_id;
        productId = product_Id
        console.log("this is the order id :", orderId)
        console.log("this is the poduct id:", productId)
    }

    async function submitCancelReason() {

        const reason = document.getElementById("cancelReasonText").value
        if (!reason.trim()) {
            console.log("please enter a reasin korah kaxnibjttt inkline akkanam")
            return
        }
        try {
            const response = await fetch(`/profile/orders/cancelorder/${orderId}/${productId}`, {
                method: "PATCH",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({ reason })
            })
            const result = await response.json()
            if (response.ok) {
                const cancelModal = bootstrap.Modal.getInstance(document.getElementById("cancelModal"));
                if (cancelModal) {
                    cancelModal.hide();
                }
                window.location.reload();
            } else {
                console.log(`errror in cancel order${result.message}`)
            }
        } catch (error) {
            console.error("Error submitting cancel reason:", error);
        }
    }




    async function submitReturnReason() {
        const reason = document.getElementById("returnReasonText").value
        if (!reason.trim()) {
            console.log("please enter a reasin korah kaxnibjttt inkline akkanam")
            return
        }
        try {
            const response = await fetch(`/profile/orders/returnorder/${orderId}/${productId}`, {
                method: "PATCH",
                headers: {
                    "Content-Type": "application/json",

                },
                body: JSON.stringify({ reason })
            })
            const result = await response.json()
            if (result.ok) {
                const cancelModal = bootstrap.Modal.getInstance(document.getElementById("returnModal"));
                if (cancelModal) {
                    cancelModal.hide();
                }
                window.location.reload();
            } else {
                console.log(`errror in return order${result.message}`)
            }
        }
        catch (error) {
            console.error("Error submitting return reason:", error);
        }
    }

</script>